# Database configuration
DB_URL=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Supabase Configuration
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_WEBHOOK_SECRET=
SUPABASE_REDIRECT_URL=
SUPABASE_JWT_SECRET=
SUPABASE_ISSUER=https://<PROJECT_REF>.supabase.co/auth/v1
SUPABASE_JWKS_URL=https://<PROJECT_REF>.supabase.co/auth/v1/.well-known/jwks.json
SUPABASE_JWT_AUDIENCE=authenticated

# Mail configuration
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_FROM=no-reply@techstore.com
MAIL_FROM_NAME=TechStore