# Database configuration
DB_URL=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Supabase Configuration
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_WEBHOOK_SECRET=
SUPABASE_REDIRECT_URL=
SUPABASE_JWT_SECRET=